/* Landing*/
.jumbotron {
  background-image: url("data/marcela-laskoski-118684-unsplash.jpg");
  background-size: cover;
  position: auto;
  height: 100%;
}


/* Library.js*/
.library {
  width: 85%;
  padding: 0 1rem;
  margin: auto;
}

.album-link {
  position: relative;
  display: inline-block;
  margin: 2.5rem;
  padding: 0.1rem;
  width: fit-content;
  text-align: center;
  top: 0;
  transition: top ease 0.2s;
}

.album-link img {
  width: 20rem;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.album-name {
  font-weight: bolder;
  font-size: 115%;
  margin: auto;
  width: fit-content;
}

.album-artist {
  color: blue;
  margin: auto;
  width: fit-content;
}

@media screen and (max-width: 440px) { /* Mobile */
  .library {
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .album-link {
    padding: 0;
    margin: 0.5rem auto;
  }

  .album-link img {
    width: 100vw;
  }
}

/* Album.js */

.song {
  line-height: 3rem;
  cursor: pointer;
}

.song:hover {
  background: #42eef4;
}

.song-actions {
  width: 3rem;
  cursor: pointer;
}

.song-duration {
  width: 3rem;
}

#song-list {
  width: 65%;
  vertical-align: top;
  color: black;
  position: left;
  margin-left: 10%;
}

#album-title {
  text-align: left;
  font-size: 30px;
  margin-left: 10%;
  margin-top: 5%;
}

.artist,#release-info {
  color: #bdbdbd;
  font-weight: 400;
  margin: 0.5rem;
  font-size: 15px;
  margin-left: 10%;
}

#album-cover-art {
  width: 100%;
  height: auto;
  margin-top: 35px;
}

/* Player Bar */

input[type=range] {
  display: inline-block;
  background: transparent;
}

.player-bar {
  color: white;
  background: #42eef4;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  height: 8rem;
  width: 100%;
  overflow: hidden;
}

#buttons {
  padding-top: 15px;
  padding-bottom: 10px;
}

.seek-bar {
  width: 50vw;
  vertical-align: 0.15rem;
}

.current-time {
  display: inline-block;
  padding-right: 0.5rem;
}

.total-time {
  display: inline-block;
  padding-left: 0.5rem;
}

.volume-bar {
  vertical-align: 0.5rem;
  padding-right: 0.5rem;
}

.icon {
  display: inline-block;
  padding-right: 0.5rem;
  font-size: 1.6rem;
}

#time-control {
  display: inline-block;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#volume-control {
  display: inline-block;
  position: fixed;
  width: fit-content;
  height: 1rem;
  right: 0;
}
